.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f1f1f1;
  border-top: 1px solid #ccc;
  text-align: center;
  padding: 1rem;
  color: #555;
  z-index: 1000;
}

.footerText {
  margin: 0;
  font-size: 2rem;
}
